@import './variables.scss';

.App {
  text-align: center;
}


.load-wrapper {
  display: $flex;
  flex-flow: row;
  justify-content: center;

}

.load-img {
  height: 100px;
}

.header-style {
  color: $titleColor;
}