@import './variables.scss';

.card-container {
    display: $flex;
    flex-flow: column nowrap;
    height: 600px;
    width: 80%;
    border: $border;
    position: fixed;
    justify-content: space-between;
    left: 170px;
    bottom: 150px;
    background-color: $backgroundColor; 
    box-shadow: $boxShadow;
}

input {
    align-self: center;
    width: 50%;
}

.submit {
    margin-bottom: 25px;
}

